<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="aplciacion">
        <h1>Estado Civil</h1>
        <p>
            <input type="radio" value="Casado" v-model="estadoCivil" id="casado">
            <label for="casado">Casado</label>
        </p>
        <p>
            <input type="radio" value="Soltero" v-model="estadoCivil" id="soltero">
            <label for="soltero">Soltero</label>
        </p>
        <p>
            <input type="radio" value="Divorciado" v-model="estadoCivil" id="divorciado">
            <label for="divorciado">Divorciado</label>
        </p>
        <p>
            <input type="radio" value="Viudo" v-model="estadoCivil" id="viudo">
            <label for="viudo">Viudo</label>
        </p>
        <p>Su estado civil es:{{estadoCivil}}</p>
    </div>
    <div id="aplicacion2">
        <h1>Idiomas que usted habla</h1>
        <p>
            <input type="checkbox" v-model="idiomas" value="Inglés" id="ingles">
            <label for="ingles">Inglés</label>
        </p>
        <p>
            <input type="checkbox" v-model="idiomas" value="Francés">
            <label for="frances">Francés</label>
        </p>
        <p>
            <input type="checkbox" v-model="idiomas" value="Español" id="español">
            <label for="español">Español</label>
        </p>
        <p>
            <input type="checkbox" v-model="idiomas" value="Alemán" id="aleman">
            <label for="aleman">Alemán</label>
        </p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
        var app = new Vue({
            el:'#aplicacion',
            data:{
                estadoCivil:''
            }
        })
    </script>
    <script>
        var app2 = new Vue({
            el:'#aplicacion2',
            data:{
                idiomas:''
            }
        })
    </script>
</body>
</html>